405 Method not allowed must return `Allow` header

As per RFC 9110, section 15.5.6, if a `405 Method Not Allowed` is returned, this response MUST have an `Allow` header listing all permitted methods.